._*
.DS_Store
<esc>:g/^$/d
<esc>:g/^$/d
<esc>:g/^$/d
<esc>:g/^$/d
<esc>:g/^$/d
<esc>:g/^$/d
<esc>:g/^$/d
<esc>:g/^$/d
<esc>:g/^$/d
<esc>:g/^$/d
<esc>:g/^$/d
<esc>:g/^$/d
<esc>:g/^$/d
<esc>:g/^$/d
<esc>:g/^$/d
<esc>:g/^$/d
<esc>:g/^$/d
<esc>:g/^$/d
<esc>:g/^$/d
<esc>:g/^$/d
<esc>:g/^$/d
